[run]
branch = True
source = pydna
omit =
    */tests/*
    */_version.py
    src/pydna/threading_timer_decorator_exit.py

[report]
exclude_lines =
    pragma: no cover
    if __name__==.__main__.:
    if __name__ ==.__main__.:
    if __name__== .__main__.:
    if __name__ == .__main__.:
ignore_errors = True
