# MANIFEST.in
# This tells distutils what files to distribute.

include LICENSE.txt
include README.rst
include MANIFEST.in
include setup.py
include run_test.py
include gpl.txt

recursive-include pydna *
recursive-include tests *
recursive-include docs *
recursive-include scripts *
recursive-include pydna/_py_rstr_max *

include versioneer.py
include pydna/_version.py

global-exclude *.pyc
global-exclude *~

prune dist*
prune tests/htmlcov*
prune scripts*
