# MANIFEST.in
# This tells distutils what files to distribute.

include LICENSE.txt
include README.rst
include MANIFEST.in
include setup.py
include run_tests.py
include gpl.txt

recursive-include pydna *
recursive-include tests *
recursive-include docs *
recursive-include scripts *
recursive-include pydna/py_rstr_max *
global-exclude *.pyc
global-exclude *~
include versioneer.py
include pydna/_version.py
