[Desktop Entry]
Encoding=UTF-8
Name=Link to ProfFan/render2plasmid: Render a plasmid map using PhantomJS and AngularPlasmid.
Type=Link
URL=https://github.com/ProfFan/render2plasmid
Icon=text-html
