[Desktop Entry]
Encoding=UTF-8
Name=Link to levskaya/BioJSON: Parsers to wrangle the plethora of biological flatfile formats into standard JSON
Type=Link
URL=https://github.com/levskaya/BioJSON
Icon=text-html
