<!DOCTYPE html>
<html ng-app='vixis'>
                <h1>Angular Plasmid</h1>
                <p>DNA plasmid visualization component using AngularJS and SVG.<br>No experience required.</p>
                <plasmidapi name="api"></plasmidapi>
                <div style='position:relative;width:600px;margin-right:auto;margin-left:auto'>
                    <plasmid id="pdemo" class="plasmid" plasmidheight="450" plasmidwidth="600" sequence="{{sequence}}">
                        <plasmidtrack trackclass="track" radius="{{radius}}" width="25">

                            <tracklabel labelclass="tracklabeltitle" text="pHS1" vadjust="-10"></tracklabel>
                            <tracklabel labelclass="tracklabelbody" text="{{api.plasmid('pdemo').sequencelength}} bp" vadjust="25"></tracklabel>
                            <tracklabel labelclass="tracklabelsmall" text="( Click a marker )" vadjust="50"></tracklabel>
                            <trackscale interval="10" tickclass="scale-minor"></trackscale>
                            <trackscale interval="50" tickclass="scale-major" showlabels="1" labelclass="scale-majortext"></trackscale>

                            <!-- Non-Coding Regions -->
                            <trackmarker start="710" end="800" markerclass="noncodingregion" vadjust="55" arrowendlength="4" arrowendwidth="4" arrowstartlength="4" arrowstartwidth="4" wadjust="-10">
                                <markerlabel labelclass="noncodinglabel" style="font-weight:400;kerning:2" text="710 - 800" type="path" vadjust="1"></markerlabel>
                                <markerlabel labelclass="noncodinglabel" text="Non-Coding" vadjust="35" hadjust="0"></markerlabel>
                                <markerlabel labelclass="noncodinglabel" text="Region" vadjust="35" hadjust="-3"></markerlabel>
                            </trackmarker>

                            <!-- HindIII and Primers -->
                            <trackmarker markerclass="markerhover" start="{{featurePos-100}}" end="{{featurePos-1}}" style="fill:rgba(255,0,0,0.4)" arrowendlength="4" wadjust="8" vadjust="-4"  markerclick="markerClick($event,$marker)">
                                <markerlabel labelclass="markerlabel" text="FORWARD" type="path" style="fill:#fff" vadjust="5"></markerlabel>
                                <markerlabel labelclass="markerlabel" text="Primer" type="path" style="fill:#fff" vadjust="-5"></markerlabel>
                            </trackmarker>
                            <trackmarker start="75" style="stroke:#c00;stroke-width:2px" wadjust="12" vadjust="-6">
                                    <markerlabel labelclass="featurelabel" text="BamHI" type="path" valign="outer" hadjust="-2" vadjust="38"></markerlabel>
                                    <svgelement type="a" xlink:href="http://en.wikipedia.org/wiki/BamHI" target="_blank">
                                        <markerlabel labelclass="featurelabel" style="font-size:11px;font-weight:300" text="Click for details..." type="path" valign="outer" hadjust="-2" vadjust="25" showline="1" linestyle="stroke:#666;stroke-dasharray:2,2" linevadjust="-10"></markerlabel>
                                    </svgelement>
                                <markerlabel labelclass="featurelabel" text="75" type="path" valign="inner" vadjust="-5"></markerlabel>
                            </trackmarker>
                            <trackmarker start="{{featurePos}}" style="stroke:#c00;stroke-width:2px" wadjust="12" vadjust="-6">
                                <svgelement type="a" xlink:href="http://en.wikipedia.org/wiki/EcoRI" target="_blank"><markerlabel labelclass="featurelabel" text="EcoRI" type="path" valign="outer" hadjust="2" vadjust="30" showline="1" linestyle="stroke:#666;stroke-dasharray:2,2" linevadjust="-10"></markerlabel></svgelement>
                                <markerlabel labelclass="featurelabel" text="{{featurePos}}" type="path" valign="inner" vadjust="-5"></markerlabel>
                            </trackmarker>
                            <trackmarker  markerclass="markerhover" start="{{featurePos+1}}" end="{{featurePos + 120}}" style="fill:rgba(128,0,0,0.4)" arrowstartlength="4" wadjust="8" vadjust="-4"  markerclick="markerClick($event,$marker)">
                                <markerlabel labelclass="markerlabel" text="REVERSE" type="path" style="fill:#fff" vadjust="5"></markerlabel>
                                <markerlabel labelclass="markerlabel" text="Primer" type="path" style="fill:#fff" vadjust="-5"></markerlabel>
                            </trackmarker>

                            <!-- Sequencing Region -->
                            <trackmarker markerclass="markerhover" start="{{sequenceRegion.start}}" end="{{sequenceRegion.end}}" style="fill:rgba(0,128,0,0.1)" wadjust="30" markerclick="markerClick($event,$marker)">
                                <markerlabel labelclass="regionlabel" text="Sequencing Region" type="path" style="fill:rgba(0,128,0,.6)" vadjust="40"></markerlabel>
                            </trackmarker>
                            <trackmarker start="{{sequenceRegion.start}}" style="stroke:rgba(0,64,0,0.5);stroke-dasharray:3,1;" wadjust="30">
                                <markerlabel labelclass="regionlabel" text="{{sequenceRegion.start}}" type="path" style="fill:rgba(0,128,0,.6)" valign="inner" vadjust="-5"></markerlabel>
                            </trackmarker>
                            <trackmarker start="{{sequenceRegion.end}}" style="stroke:rgba(0,64,0,0.5);stroke-dasharray:3,1;" wadjust="30">
                                <markerlabel labelclick="labelClick($event,$label)" labelclass="regionlabel" text="{{sequenceRegion.end}}" type="path" style="fill:rgba(0,128,0,.6)" valign="inner" vadjust="-5"></markerlabel>
                            </trackmarker>

                            <!-- TARGET PROTEINS -->
                            <trackmarker start="{{featureStart}}" end="{{featureEnd}}" style="fill:rgba(0,0,128,.4)" vadjust="3" arrowendlength="4" arrowendwidth="4" wadjust="-5">
                                <markerlabel text="TARGET PROTEINS" type="path" style="fill:rgba(0,0,64,.7);font-size:12px;font-weight:700" vadjust="45"></markerlabel>                            
                            </trackmarker>
                            <trackmarker markerclass="markerhover" ng-repeat="m in featureMarkers" style="fill:rgba(0,0,128,.4)" start="{{m.start}}" end="{{m.end}}" wadjust="8" vadjust="-4" markerclick="markerClick($event, $marker)">
                                <markerlabel labelclass="markerlabel" text="{{m.text}}" style="fill:#fff;font-weight:700" ></markerlabel>
                            </trackmarker>
                            <trackmarker start="{{featureStart}}" style="stroke:rgba(0,0,64,.7);stroke-width:2px;stroke-dasharray:4,2" vadjust="-7" wadjust="15">
                                <markerlabel text="{{featureStart}}" style="fill:rgba(0,0,64,.7);font-size:11px;font-weight:700" vadjust="-35"></markerlabel>                            
                            </trackmarker>
                            <trackmarker start="{{featureEnd}}" style="stroke:rgba(0,0,64,.7);stroke-width:2px;stroke-dasharray:4,2" vadjust="-7" wadjust="15">
                                <markerlabel text="{{featureEnd}}" style="fill:rgba(0,0,64,.7);font-size:11px;font-weight:700" vadjust="-35"></markerlabel>                            
                            </trackmarker>

                        </plasmidtrack>
                    </plasmid>
                    <!--
                    <div ng-attr-style="position:absolute;top:{{api.plasmid('pdemo').center.y-35}}px;left:{{api.plasmid('pdemo').center.x-48}}px" class="tracklabel">
                        <h1>pHS1</h1>
                        {{api.plasmid('pdemo').sequencelength}} bp
                        <div class="tiny">( Click a marker )</div>
                    </div>
                    -->
                    <div id="markerpopup" class="panel panel-primary" ng-show="selectedmarker" ng-attr-style="display:hidden;position:absolute;top:{{selectedmarker.getPosition().outer.middle.y}}px;left:{{selectedmarker.getPosition().outer.middle.x}}px">
                        <div class="panel-heading">
                            <span id="markerpopupheader" class="panel-title">{{selectedmarker.labels[0].text}}</span><i ng-click="dismissPopup()" class="panel-close fa fa-times-circle"></i>
                        </div>
                        <div id="markerpopuptext" class="panel-body">
                            <strong>[{{selectedmarker.start}}] Start - [{{selectedmarker.end}}] End</strong>
                            <br>
                            <div class="selectedsequence">{{selectedmarker.sequence}}</div>
                        </div>
                    </div>
                </div>
                <div style='position:absolute;right:20px;top:500px'>
                    <button class="btn btn-sm btn-primary" ng-click="enableAnimation=true;animate()" ng-hide="enableAnimation">Animation On </button>
                    <button class="btn btn-sm btn-default" ng-click="enableAnimation=fasle;" ng-hide="!enableAnimation">Animation Off </button>
                </div>
                <div id="plasmidoptions">
                    <h1>Display Options</h1>
                    <div class="row">
                        <div class="col-sm-4">
                            Plasmid Size
                            <slider ng-model="radius" floor="90" ceiling="160" ng-init="radius=130"></slider>
                        </div>
                        <div class="col-sm-4">
                            EcoRI Location
                            <slider ng-model="featurePos" floor="100" ceiling="350" ng-init="featurePos=230"></slider>
                        </div>
                        <div class="col-sm-4">
                            Sequencing Region
                            <slider ng-model="sequenceRegion.start" ng-model-range="sequenceRegion.end" floor="500" ceiling="1000"></slider>
                        </div>
                    </div>
                </div>
                <div id="calltoaction">
                    <a href="about.php" class="btn btn-primary btn-lg">Learn More</a>
                    <a href="download.php" class="btn btn-default btn-md">Download</a>
                </div>                

<script src="assets/lib/bower_components/angular/angular.min.js"></script>
<script src="assets/lib/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="assets/lib/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="assets/lib/bower_components/venturocket-angular-slider/build/angular-slider.min.js"></script>        
<script src="assets/lib/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="assets/lib/google-code-prettify/prettify.js"></script>
<script src="assets/lib/bower_components/angularplasmid/dist/angularplasmid.min.js"></script>
<script src="assets/lib/analytics.js"></script>	<script lang="javascript" src="assets/views/home/home.js"></script>
