[Desktop Entry]
Encoding=UTF-8
Name=Link to python-pptx — python-pptx 0.6.1 documentation
Type=Link
URL=https://python-pptx.readthedocs.io/en/latest/
Icon=text-html
